/* Base
---------------------------------------------------------------- */
html {
  cursor: default;
  font: 100%/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-size-adjust: 100%;           /* Mobile font size */
  font-feature-settings: "liga" 0;  /* Prevent ligatures */
  text-rendering: optimizeSpeed;    /* Prevent ligatures */
  -webkit-tap-highlight-color: transparent;
}
svg > use > svg {  fill: inherit } /* Workaround for FF bug: https://bugzilla.mozilla.org/show_bug.cgi?id=265894 */
body, img, svg, a, iframe { margin: 0; border: 0; color: inherit; fill: currentColor }
button, select, a, input, label, textarea { touch-action: manipulation } /* FastClick */
button, select { cursor: pointer }

/* Grid
---------------------------------------------------------------- */
.nrk-grid.nrk-grid { /* Double selector ensures grid nestability */
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0;
}
.nrk-grid > * {
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}


/* Button
---------------------------------------------------------------- */
.nrk-button::-moz-focus-inner { border: 0; padding: 0 } /* Reset Firefox */
.nrk-button {
  -webkit-appearance: none; /* Reset iOS */
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin: 3px 1px;
  padding: 0 19px;
  border: 0 solid;          /* Set solid style for psuedo inheritance */
  border-radius: 99px;
  height: 41px;
  min-width: 41px;          /* Ensure minimum touch target */
  font: inherit;
  font-size: 14px;
  line-height: 41px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  color: inherit;
  transition: .2s;
}
.nrk-button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  right: .5px;            /* Avoid half pixel overflow:hidden bug in Chrome */
  bottom: 0;
  left: 0;
  opacity: .4;            /* nrk-color-shade-4 is 78% luminosity, which equals 22% darkness */
  border: inherit;        /* Enable changing border without addressing pseudo element */
  border-radius: inherit; /* Enable changing border-radius without addressing pseudo element */
  border-width: 1px;
}
.nrk-button:active { transform: scale(.95) }
.nrk-button:hover,
.nrk-button:focus { outline: 0; border-color: transparent; box-shadow: 0 0 2px 1px #00b9f2 }
.nrk-button:disabled,
.nrk-button.is-disabled {
  cursor: default;
  pointer-events: none;
  box-shadow: none;
  opacity: .6;
}
.nrk-button.is-busy::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  border: 1px solid;
  border-top-color: transparent;
  border-radius: 50%;
  margin-right: 5px;
  animation: nrk-spin 1s infinite linear;
}
.nrk-button svg { vertical-align: middle }  /* Align with text */
.nrk-button--o {
  width: 41px;
  height: 41px;
  padding: 10px;
}
.nrk-button--o svg {
  display: block;
  width: 100%;
  height: 100%;
}
.nrk-spin { animation: nrk-spin 1s infinite linear }
@keyframes nrk-spin { to { transform: rotate(360deg) } }


/* Pagination
---------------------------------------------------------------- */
.nrk-pagination { overflow: hidden; white-space: nowrap; text-align: center; font-size: 0 }
.nrk-pagination::before,
.nrk-pagination::after { content: ''; display: inline-block; width: 50%; border-top: 1px solid; opacity: .22 }
.nrk-pagination::before { margin-left: -50% }
.nrk-pagination::after { margin-right: -50% }
.nrk-pagination > .nrk-button:only-child { width: 100%; max-width: 200px }
.nrk-pagination > .nrk-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}
/* Undo half-pixel Chrome-fix */
.nrk-pagination > .nrk-button:not(:last-child)::after {
  right: 0;
}
.nrk-pagination > .nrk-button + .nrk-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-style: none;
  margin-left: 0;
}


/* Sizes
---------------------------------------------------------------- */
.nrk-xs-100 { width: 100vw; margin-left: calc(50% - 50vw) }
.nrk-xs-1of12 { width:8.33333% } .nrk-xs-2of12 { width:16.6666% } .nrk-xs-3of12 { width:25%}
.nrk-xs-4of12 { width:33.3333% } .nrk-xs-5of12 { width:41.6666% } .nrk-xs-6of12 { width:50%}
.nrk-xs-7of12 { width:58.3333% } .nrk-xs-8of12 { width:66.6666% } .nrk-xs-9of12 { width:75%}
.nrk-xs-10of12 { width:83.3333% } .nrk-xs-11of12 { width:91.6666% } .nrk-xs-12of12 { width:100%}
@media (min-width: 40rem) {
  .nrk-sm-1of12 { width:8.33333% } .nrk-sm-2of12 { width:16.6666% } .nrk-sm-3of12 { width:25%}
  .nrk-sm-4of12 { width:33.3333% } .nrk-sm-5of12 { width:41.6666% } .nrk-sm-6of12 { width:50%}
  .nrk-sm-7of12 { width:58.3333% } .nrk-sm-8of12 { width:66.6666% } .nrk-sm-9of12 { width:75%}
  .nrk-sm-10of12 { width:83.3333% } .nrk-sm-11of12 { width:91.6666% } .nrk-sm-12of12 { width:100%}
}
@media (min-width: 45rem) {
  .nrk-md-1of12 { width:8.33333% } .nrk-md-2of12 { width:16.6666% } .nrk-md-3of12 { width:25%}
  .nrk-md-4of12 { width:33.3333% } .nrk-md-5of12 { width:41.6666% } .nrk-md-6of12 { width:50%}
  .nrk-md-7of12 { width:58.3333% } .nrk-md-8of12 { width:66.6666% } .nrk-md-9of12 { width:75%}
  .nrk-md-10of12 { width:83.3333% } .nrk-md-11of12 { width:91.6666% } .nrk-md-12of12 { width:100%}
}
@media (min-width: 62rem) {
  .nrk-lg-1of12 { width:8.33333% } .nrk-lg-2of12 { width:16.6666% } .nrk-lg-3of12 { width:25%}
  .nrk-lg-4of12 { width:33.3333% } .nrk-lg-5of12 { width:41.6666% } .nrk-lg-6of12 { width:50%}
  .nrk-lg-7of12 { width:58.3333% } .nrk-lg-8of12 { width:66.6666% } .nrk-lg-9of12 { width:75%}
  .nrk-lg-10of12 { width:83.3333% } .nrk-lg-11of12 { width:91.6666% } .nrk-lg-12of12 { width:100%}
}
@media (min-width: 90rem) {
  .nrk-xl-1of12 { width:8.33333% } .nrk-xl-2of12 { width:16.6666% } .nrk-xl-3of12 { width:25%}
  .nrk-xl-4of12 { width:33.3333% } .nrk-xl-5of12 { width:41.6666% } .nrk-xl-6of12 { width:50%}
  .nrk-xl-7of12 { width:58.3333% } .nrk-xl-8of12 { width:66.6666% } .nrk-xl-9of12 { width:75%}
  .nrk-xl-10of12 { width:83.3333% } .nrk-xl-11of12 { width:91.6666% } .nrk-xl-12of12 { width:100%}
}


/* Colors
---------------------------------------------------------------- */
.nrk-color-base { color: #26292a; background-color: #fff }
.nrk-color-spot { color: #26292a; background-color: #00b9f2 }
.nrk-color-invert { color: #fff; background-color: #141517 }
.nrk-color-shade-1 { color: #26292a; background-color: #f3f3f3 }
.nrk-color-shade-2 { color: #26292a; background-color: #e9e9e9 }
.nrk-color-shade-3 { color: #26292a; background-color: #e0e0e0 }
.nrk-color-shade-4 { color: #26292a; background-color: #c8c8c8 }
.nrk-fade { opacity: .4 }


/* Accessibility
---------------------------------------------------------------- */
.nrk-sr, .nrk-sr-focus:not(:focus) {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}


/* Utilities
---------------------------------------------------------------- */
.nrk-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
